<div class="h-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="createGroupForm" (ngSubmit)="createNewGroup()">
        <mat-form-field>
            <mat-label>Group Name</mat-label>
            <input matInput formControlName="groupName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Group Type</mat-label>
            <mat-select formControlName="groupType">
                <mat-option value="0">Public</mat-option>
                <mat-option value="1">Private</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Group Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create New Group</button>
    </form>
</div>

